<div class="table-responsive">
  <table class="table table-striped table-borderless table-hover">
    <thead>
      <tr>
        <th class="gilroy-600 f-12 primary text-center" scope="col">Date</th>
        <th class="gilroy-600 f-12 primary text-center" scope="col">
          Investment
        </th>
        <th class="gilroy-600 f-12 primary text-center" scope="col">
          Total Amount
        </th>
        <th class="gilroy-600 f-12 primary text-center" scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of transactions" class="cursor" (click)="goto(item)">
        <td class="gilroy-600 f-12 primary text-center py-4">2/4/2020</td>
        <td class="gilroy-600 f-12 primary text-center py-4">Palm Oil</td>
        <td
          class="gilroy-600 f-12 primary text-center py-4 d-flex align-items-center justify-content-center"
        >
          <p class="gilroy-600 f-14 me-2">25 Units</p>
          <svg
            width="5"
            height="9"
            viewBox="0 0 5 9"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0.676452 0.172019L4.7224 3.59951C5.09253 3.92464 5.09253 4.42592 4.7224 4.73751L0.676453 8.16494C0.293555 8.49007 -2.61856e-10 8.32751 -2.21722e-08 7.82625L-3.41945e-07 0.510703C-3.64448e-07 -0.00409508 0.293555 -0.153116 0.676452 0.172019Z"
              fill="black"
            />
          </svg>
          <p class="gilroy-600 f-14 ms-2">NGN 62,500</p>
        </td>
        <td class="gilroy-600 f-12 primary text-center py-4">
          <div class="d-flex align-items-center justify-content-center">
            <button class="completed_btn" *ngIf="item % 2 == 0">
              Completed
            </button>
            <button class="pending_btn px-4 py-1" *ngIf="item % 2 != 0">
              Pending
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
