
.timeline_margin {
  margin-left: 1.9rem;
}

// .scroll {
//   overflow-y: scroll !important;
//   height: 90vh;
// }

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  width: 5px;
  background: #f3f3f3;
}

::-webkit-scrollbar-thumb {
  width: 5px;
  background: rgba(69, 43, 134, 0.1);
}

.completed_btn {
  background: rgba(15, 197, 120, 0.2);
  border: 1px solid #0fc578;
  box-sizing: border-box;
  border-radius: 6px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 133.8%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 0 1rem;
  color: #129d62;
  height: 25px;
}

a {
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 125%;
  letter-spacing: -0.02em;
  text-decoration-line: underline;
  color: #4a4b65;
}

.striped {
  background: #f5f6f9;
  border-radius: 2px;
}

.pending_btn {
  background: rgba(255, 193, 7, 0.2);
  border: 1px solid #fdc008;
  box-sizing: border-box;
  border-radius: 6px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 133.8%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #daa917;
}

.approved_btn {
  background: rgba(15, 197, 120, 0.2);
  border: 1px solid #0fc578;
  box-sizing: border-box;
  border-radius: 6px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 133.8%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #129d62;
}

.dashboard_grid {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.6fr 0.2fr;
  width: 100%;
  align-items: center;
}

.header {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 125%;
  letter-spacing: -0.02em;
  color: #4a4b65;
}

.sub_header {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 125%;
  letter-spacing: -0.02em;
  color: #4a4b65;
}

.muted_text {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 125%;
  letter-spacing: -0.02em;
  color: #879dad;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 576.5px) and (max-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 768.5px) and (max-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 992.5px) and (max-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1200.5px) {
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 0.2rem rgba(255, 47, 69, 0.25) !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: red !important;
}

.custom-control-input:active ~ .custom-control-label::before {
  background-color: red !important;
}

.custom-control-input-green:not(:disabled):active
  ~ .custom-control-label::before {
  background-color: red !important;
}
