.form_field {
  border: 1px solid #8590b3;
  border-radius: 4px;
  height: 40px;
  font-size: 14px;
  line-height: 17px;
  font-family: Gilroy Bold;
  color: #8590b3;
  padding-left: 0.7rem;
}

.custom {
  margin-top: 13rem;
}
