<div class="row">
  <div class="col-12">
    <div class="footer_bg">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 mb-4">
            <h1 class="inter italic text-white fw-700 f-30 mb-4">WNL</h1>
            <p class="gilroy f-16 col-md-8">
              Copyright © 2022 WNL Investments Smart investments for Smart
              People
            </p>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-2 mb-4">
            <h5 class="gilroy-700 text-white f-16 mb-4">Company</h5>
            <h6 class="gilroy f-16">support@wnl.com</h6>
            <h6 class="gilroy f-16">Contact us</h6>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-2 mb-4">
            <h5 class="gilroy-700 text-white f-16 mb-4">Support</h5>
            <h6 class="gilroy f-16">F.A.Q</h6>
            <h6 class="gilroy f-16">Terms of service</h6>
            <h6 class="gilroy f-16">Privacy policy</h6>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <h5 class="gilroy-700 text-white f-16">Social Platforms</h5>
            <div class="d-flex align-items-center col-8 col-lg-6 my-4 justify-content-between">
              <img src="assets/img/instagram_icon.svg" alt="" />
              <img src="assets/img/dribble_icon.svg" alt="" />
              <img src="assets/img/twitter_icon.svg" alt="" />
              <img src="assets/img/youtube_icon.svg" alt="" />
            </div>
            <button
              class="text-white bg-primary px-4 py-3 text-capitalize border-0 sans-700 f-12"
            >
              Join our slack community
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
