<div class="container my-5">
  <h1 class="gilroy-600 f-22 primary">My Profile</h1>
  <div class="row mt-5">
    <div class="col-md-8 pe-md-0">
      <h4 class="gilroy-600 f-16 primary border-bottom pb-2">Bio Data</h4>
      <div class="mt-4 d-flex align-items-center">
        <img src="assets/img/avatar.svg" class="rounded-50" alt="">
        <div class="ms-3">
          <h3 class="gilroy-500 f-22 mb-0">Sarah Shaibu</h3>
        </div>
      </div>
    </div>
    <div class="col-md-4 border-start"></div>
  </div>
</div>
