<div class="container my-5">
  <h1 class="gilroy-600 f-22 primary">My Profile</h1>
  <div class="row mt-5">
    <div class="col-md-8 col-lg-9 pe-md-0">
      <h4 class="gilroy-600 f-16 primary border-bottom pb-2">Bio Data</h4>
      <div class="mt-4 d-flex align-items-center">
        <img
          src="assets/img/avatar.svg"
          height="60px"
          class="rounded-50"
          alt=""
        />
        <div class="ms-3">
          <h3 class="gilroy-500 f-22 mb-0">Sarah Shaibu</h3>
          <p class="gilroy-500 f-16 mb-0">sarah@glovoapp.com</p>
        </div>
      </div>
      <div class="col-md-11">
        <form class="row mt-4">
          <div class="col-md-6 mb-3">
            <label
              for=""
              class="w-100 text-uppercase gilroy-700 f-12 primary mb-2"
              >First Name</label
            >
            <input type="text" placeholder="sarah" class="form_field w-100" />
          </div>
          <div class="col-md-6 mb-3">
            <label
              for=""
              class="w-100 text-uppercase gilroy-700 f-12 primary mb-2"
              >Last Name</label
            >
            <input type="text" placeholder="Shaibu" class="form_field w-100" />
          </div>
          <div class="col-md-6 mb-3">
            <label
              for=""
              class="w-100 text-uppercase gilroy-700 f-12 primary mb-2"
              >Email Address</label
            >
            <input
              type="email"
              placeholder="sarah@gmail.com"
              class="form_field w-100"
            />
          </div>
          <div class="col-md-6 mb-3">
            <label
              for=""
              class="w-100 text-uppercase gilroy-700 f-12 primary mb-2"
              >Phone Number</label
            >
            <input
              type="tel"
              placeholder="08012345678"
              class="form_field w-100"
            />
          </div>
          <div class="col-md-6 mb-3">
            <label
              for=""
              class="w-100 text-uppercase gilroy-700 f-12 primary mb-2"
              >Gender</label
            >
            <select class="form-select form_field w-100">
              <option selected>Gender</option>
              <option value="1">Male</option>
              <option value="2">Female</option>
            </select>
          </div>
          <div class="col-12 my-4">
            <p class="gilroy-600 f-16">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi
              convallis vitae fringilla. Aenean arcu integer ut aliquet ac dui
              quam viverra.
            </p>
          </div>
          <div class="row px-0 mx-0">
            <div class="col-md-6 mb-3">
              <button class="mt-4 bg-primary text-white w-100 btn mx-0 px-0">
                Save Changes
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-4 col-lg-3 border-start">
      <p class="mt-5 gilroy-600 f-14 primary">
        General Information
      </p>
    </div>
  </div>
</div>
