<div
  class="about_hero d-flex align-items-center justify-content-center primary_bg"
>
  <div class="text-center text-white">
    <h3 class="col-lg-7 coco-700 f-48 mx-auto">
      Investing into the future with a solid plan
    </h3>
    <p class="col-lg-7 mx-auto f-16 mulish my-5">
      Urna quis nulla vitae, condimentum varius in adipiscing blandit. Vitae
      sodales id feugiat parturient venenatis.
    </p>
    <button
      class="inter fw-700 f-16 bg-primary text-white border-0 px-4 py-2 rounded"
    >
      Start Investing
    </button>
  </div>
</div>
<div class="container">
  <div class="section_padding col-lg-7 text-center mx-auto">
    <h3 class="coco-600 f-56 primary">Our Story</h3>
    <p class="gilroy-600 f-18">
      Vitae lacus hendrerit duis lacus, purus senectus vestibulum ante.
      Dignissim tortor neque, in in commodo arcu. Massa tristique ut arcu
      tempus, congue vestibulum sed ridiculus nec. Vulputate aenean aliquet
      facilisis dui, in tortor. Erat massa cras morbi sed neque hendrerit
      condimentum mauris arcu. Urna, in blandit lacus mi amet in magna. Orci
      arcu augue mauris, odio ipsum gravida placerat enim, fermentum. Bibendum
      condimentum erat euismod vel. Orci pretium dolor aliquam morbi id
      elementum, amet, gravida sed.
    </p>
  </div>
  <div class="row">
    <div class="col-lg-9 col-xl-7 mx-auto">
      <img src="assets/img/about-1.svg" class="w-100" alt="" />
    </div>
  </div>
  <div class="row section_padding mt-5">
    <div class="col-md-6">
      <div class="row">
        <div class="col-lg-6">
          <img
            src="assets/img/about-3.png"
            style="border-radius: 10px"
            class="w-100"
            alt=""
          />
        </div>
        <div class="col-lg-6">
          <img
            src="assets/img/about-2.png"
            style="border-radius: 10px"
            class="w-100"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="col-md-5 d-flex align-items-center">
      <div class="ps-lg-4">
        <h3 class="coco-600 f-56 primary">The future of Investment</h3>
        <p class="gilroy-600 f-18">
          From Online beauty course to copaching and beyond. This is where
          people find their beauty in teaching, learning and selling their brand
          and businesses. <br /><br />
          From Online beauty course to copaching and beyond. This is where
          people find their beauty in teaching, learning and selling their brand
          and businesses. From Online beauty course to copaching and beyond.
          This is where people find their beauty in teaching, learning and
          selling their brand and businesses.
        </p>
      </div>
    </div>
  </div>
  <div class="row section_padding">
    <div class="col-md-7 d-flex align-items-center">
      <div class="col-10">
        <h3 class="coco-600 f-56 primary">Why US?</h3>
        <p class="gilroy-600 f-18 my-5">
          From Online beauty course to copaching and beyond. This is where
          people find their beauty in teaching, learning and selling their brand
          and businesses. <br /><br />
          From Online beauty course to copaching and beyond. This is where
          people find their beauty in teaching, learning and selling their brand
          and businesses. From Online beauty course to copaching and beyond.
          This is where people find their beauty in teaching, learning and
          selling their brand and businesses.
        </p>
        <button
          class="inter fw-700 f-16 bg-primary text-white border-0 px-4 py-2 rounded"
        >
          View Open Investment
        </button>
      </div>
    </div>
    <div class="col-md-5">
      <img
        src="assets/img/about-4.jpg"
        class="w-100"
        style="border-radius: 10px"
        alt=""
      />
    </div>
  </div>
</div>
