@font-face {
  font-family: "Gilroy";
  src: url("../../../assets/fontpack/Gilroy-Regular.otf");
}

@font-face {
  font-family: "Gilroy Medium";
  src: url("../../../assets/fontpack/Gilroy-Medium.otf");
}

@font-face {
  font-family: "Gilroy Semibold";
  src: url("../../../assets/fontpack/Gilroy-SemiBold.otf");
}

@font-face {
  font-family: "Gilroy Bold";
  src: url("../../../assets/fontpack/Gilroy-Bold.ttf");
}

@font-face {
  font-family: "Gilroy Extrabold";
  src: url("../../../assets/fontpack/Gilroy-ExtraBold.otf");
}

@font-face {
  font-family: "Coco";
  src: url("../../../assets/fontpack/Coco-Sharp-Regular-trial.ttf");
}

@font-face {
  font-family: "Coco Bold";
  src: url("../../../assets/fontpack/Coco-Sharp-Bold-trial.ttf");
}

@font-face {
  font-family: "Coco Extrabold";
  src: url("../../../assets/fontpack/Gilroy-ExtraBold.otf");
}

@font-face {
  font-family: "Sans";
  src: url("../../../assets/fontpack/DMSans-Regular.ttf");
}

@font-face {
  font-family: "Sans Medium";
  src: url("../../../assets/fontpack/DMSans-Medium.ttf");
}

@font-face {
  font-family: "Sans Bold";
  src: url("../../../assets/fontpack/DMSans-Bold.ttf");
}

