.logo {
  font-family: "Inter";
  font-style: italic;
  font-weight: 700;
  font-size: 31.0985px;
  line-height: 38px;
  text-decoration: none;
}

.nav_items {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  margin: 0 1rem;
}

.link_dark {
  color: var(--navbar-text-dark);
}

.link_light {
  color: var(--navbar-text-light);
}
