<div class="d-flex align-items-center justify-content-between">
  <div class="d-flex">
    <a class="logo" href="#">WNL</a>
    <div class="d-flex align-items-center ms-5">
      <a class="nav_items" href="">Invest</a>
      <a class="nav_items" href="">Opportunities</a>
      <a class="nav_items" href="/about-us">About</a>
      <a class="nav_items" href="">FAQs</a>
      <a class="nav_items" href="">Blog</a>
    </div>
  </div>
  <div class="d-flex align-items-center me-md-5">
    <button
      class="border-0 bg-transparent inter f-16 fw-600"
      [routerLink]="['/onboarding/sign-up']"
      routerLinkActive="router-link-active"
    >
      Register
    </button>
    <button
      class="border-0 bg-transparent inter f-16 fw-600"
      [routerLink]="['/onboarding/login']"
      routerLinkActive="router-link-active"
    >
      Login
    </button>
  </div>
</div>
