<div class="container my-5">
  <div class="d-flex">
    <span class="material-symbols-outlined cursor" (click)="back()">
      chevron_left
    </span>
    <div class="ms-3">
      <h1 class="gilroy-600 f-22 primary mb-0">All Update</h1>
    </div>
  </div>
  <div class="mt-5">
    <h2 class="gilroy-700 f-40 primary">
      Nigeria: Demand for Malaysian palm oil to remain despite Heavy waiving
      export levy
    </h2>
    <div class="mt-4 d-flex align-items-center">
      <img src="assets/img/avatar.svg" class="rounded-50" alt="" />
      <div class="ms-3">
        <h4 class="mulish fw-400 f-14 mb-0">WNL Content Team</h4>
        <p class="gilroy f-14 mb-0 text-muted">Jun 28, 2020 • 11 mins read</p>
      </div>
    </div>
  </div>
</div>
<div class="mt-4 row">
  <div class="col-12">
    <img src="assets/img/Bitmap.svg" alt="" class="w-100" />
  </div>
</div>
<div class="container mt-5">
  <p class="gilroy-600 f-16">
    Being a software developer gives you access to a lot of job opportunities
    working at global companies. Part of this opportunity is choosing whether to
    work as a freelancer, an in house employee at software-as-a-service company
    or a software development agency. <br />
    <br />
    Many developers dream of landing a job at leading tech companies like
    Google, Facebook, and Microsoft. And who can blame them? Aside from gaining
    work experience, they offer above-average pay and perks like long paid
    parental leaves, free gourmet meals, and paid housing. These companies are
    also known for their tough hiring processes due to high competition.
  </p>
  <div class="my-5">
    <img src="assets/img/maize.svg" class="w-100" alt="" />
  </div>
  <h3 class="mt-4 gilroy-700 f-32 primary">What Is a Mental Model?</h3>
  <p class="gilroy-600 f-16">
    While not everyone can scale through their rigorous hiring process, you can
    try sending your applications to product companies with smaller teams or
    find clients to work with on a contract basis. However, you will still need
    to put a lot of work into sending out multiple applications and proposals to
    land a job or gig. <br />
    <br />
    Now, if job hunting and sourcing clients directly is not your thing, you can
    always consider working with a software development agency. Here are some of
    the benefits of partnering with a seasoned agency: Skip the search <br />
    <br />
    Software agencies have a team of people who are assigned various tasks, one
    of which is having a business development representative or sales team
    member responsible for finding clients or projects. Unlike job hunting and
    freelancing, you are not tasked with the burden of finding business but can
    instead focus on delivering quality work on or before the deadline. Get paid
    sooner
  </p>
  <h3 class="mulish fw-700 f-24 primary">More from The WNL Blog</h3>
  <div class="row mt-4">
    <div class="col-md-6 mb-4">
      <div class="card">
        <img src="assets/img/blog-1.png" class="card-img-top" alt="..." />
        <div class="card-body primary_bg">
          <p class="card-text mmulish text-light f-16">
            How did we get 1M+ visitors in 30 days without anything! How did we
            get 1M+ visitors in 30 days w How did we get 1M+ visitors in 30 days
            what...
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card">
        <img src="assets/img/blog-2.png" class="card-img-top" alt="..." />
        <div class="card-body primary_bg">
          <p class="card-text mmulish text-light f-16">
            How did we get 1M+ visitors in 30 days without anything! How did we
            get 1M+ visitors in 30 days w How did we get 1M+ visitors in 30 days
            what...
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-5 pb-5"></div>
</div>
