.home_bg {
  background: url("../../../../assets/img/banner.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #071050;
}

.hero_padding {
  padding-top: 250px !important;
}

.hero_right_bg {
  background: #e0f0fe;
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  padding-top: 10rem;
}

.opportunity_bg {
  background: #e0f0fe;
  height: 100%;
  width: 100%;
}

.investment_card {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(6, minmax(230px, 1fr));
  overflow-x: scroll;
  width: 100%;
}

.card-img-overlay {
  top: 70% !important;
}

.hero_img_border {
  position: absolute;
  border: 3px solid #f2f2f2;
  border-radius: 25px;
  width: 300px;
  height: 470px;
  left: -15%;
}

.hero_img {
  position: absolute;
  height: 500px;
  top: -25px;
  left: -15%;
}

.opportunity_img_border {
  position: absolute;
  border: 3px solid #f2f2f2;
  border-radius: 25px;
  width: 300px;
  height: 470px;
  left: 16%;
  top: 3%;
}

.opportunity_img {
  position: absolute;
  height: 500px;
  top: -25px;
  left: -15%;
}

.section_padding {
  padding: 100px 0;
}

.service_icons {
  background: #e0f0fe;
  border-radius: 8px;
  height: 52px;
  width: 52px;
}

.border-top {
  border-top: 1px solid #353945 !important;
}

.faq_mute_color {
  color: #777e91;
}

.faq_bg {
  background: #071050;
}

.investment_bg {
  background: #f9f9f9;
  border-radius: 25px;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .opportunity_img_border {
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    border: none;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  .opportunity_bg {
    background: transparent;
    height: 100%;
    width: 100%;
  }

  .opportunity_img {
    position: relative;
    height: 100%;
    top: 0;
    left: 0;
  }

  .investment_card {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(6, minmax(85%, 1fr));
    overflow-x: scroll;
    width: 100%;
    margin-top: 4rem;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .opportunity_img_border {
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    border: none;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  .opportunity_bg {
    background: transparent;
    height: 100%;
    width: 100%;
  }

  .opportunity_img {
    position: relative;
    height: 100%;
    top: 0;
    left: 0;
  }

  .investment_card {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(6, minmax(85%, 1fr));
    overflow-x: scroll;
    width: 100%;
    margin-top: 4rem;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .opportunity_img_border {
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    border: none;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  .opportunity_bg {
    background: transparent;
    height: 100%;
    width: 100%;
  }

  .opportunity_img {
    position: relative;
    height: 100%;
    top: 0;
    left: 0;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  .opportunity_img_border {
    position: absolute;
    border: 3px solid #f2f2f2;
    border-radius: 25px;
    width: 300px;
    height: 470px;
    left: 13%;
    top: 3%;
  }

  .opportunity_img {
    position: absolute;
    height: 500px;
    top: -25px;
    left: -15%;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
