<div class="container my-5">
  <h4 class="primary gilroy-500 f-32">Dashboard</h4>
  <!-- <div class="alert alert-success mt-4 gilroy-600 f-14 primary" role="alert">
    Complete your account profile
  </div> -->
  <div class="row mt-4">
    <div class="col-md-4 mb-4">
      <app-wallet-balance-card></app-wallet-balance-card>
    </div>
    <div class="col-md-4 mb-4">
      <div class="investment_bg p-4">
        <div class="d-flex justify-content-between align-items-end">
          <div>
            <h5 class="gilroy-600 f-16 text-white">Active Investments</h5>
            <h3 class="gilroy-500 f-40 text-white">12</h3>
            <a href="#" class="gilroy-700 f-16 text-white">All Investments</a>
          </div>
          <img src="assets/img/check_icon.svg" alt="" />
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="banner_bg p-4">
        <div class="d-flex justify-content-center align-items-center">
          <div class="mt-4">
            <h5 class="gilroy-600 f-16 text-white text-center">
              Get 10% Off on a Referral
            </h5>
            <h3 class="gilroy f-14 text-white text-center">
              Credited once they make a transfer
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-6 col-lg-8 mb-4">
      <div class="available_investment_bg p-4">
        <div class="d-flex align-items-center justify-content-between">
          <h3 class="gilroy-600 primary f-22">Available Investment</h3>
          <a href="" class="xs_hide">View All</a>
        </div>
        <div class="grid_slide mt-4">
          <div class="card border-0" *ngFor="let item of investments">
            <img src="{{ item.src }}" alt="" />
            <div class="card-img-overlay text-white">
              <h5 class="gilroy-600 f-18">Palm Oil</h5>
              <h6 class="gilroy f-12">10000 Units/2500NGN</h6>
              <h6 class="gilroy-700 f-12">Expires:20/03/25</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="gain_bg p-4">
        <div class="d-flex justify-content-between align-items-center">
          <h1 class="gilroy-600 f-22 primary">Gain Estimator</h1>
          <select class="border rounded py-1 px-2 gilroy-500 f-12 primary">
            <option selected>Palm Oil</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="send_pane d-flex justify-content-between mt-3" matRipple>
          <div class="ms-2">
            <label for="">You Invest</label>
            <input type="number" class="input_field w-100" />
          </div>
          <div class="d-flex align-items-center custom_border px-2">
            <select name="" class="gilroy-700 f-12mprimary bg-transparent">
              <option selected>APRIL 2022</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <!-- <option *ngFor="let account of wallets">
                {{ account.currency }}
              </option> -->
            </select>
          </div>
        </div>
        <div class="timeline_area position-relative">
          <div class="d-flex timeline_margin">
            <span class="dot me-2"></span>
            <div class="dashed_border d-flex align-items-center p-3">
              <span class="muted_text ms-2">Into Palm Oil in January 2022</span>
            </div>
          </div>
        </div>
        <div class="timeline_area position-relative">
          <div class="d-flex timeline_margin">
            <span class="dot me-2"></span>
            <div class="dashed_border d-flex align-items-center p-3">
              <span class="muted_text ms-2">And make profit </span>
            </div>
          </div>
        </div>
        <div class="timeline_area position-relative">
          <div class="d-flex timeline_margin">
            <span class="dot me-2"></span>
            <div class="dashed_border d-flex align-items-center p-3">
              <span class="muted_text ms-2">by December 2022</span>
            </div>
          </div>
        </div>
        <div class="send_pane d-flex justify-content-between" matRipple>
          <div class="ms-2 receive">
            <label for="">You Get</label>
            <input type="number" class="input_field w-100" />
          </div>
          <div class="d-flex align-items-center custom_border px-2">
            <select name="" class="gilroy-700 f-12mprimary bg-transparent">
              <option selected>APRIL 2022</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <!-- <option *ngFor="let account of wallets">
                {{ account.currency }}
              </option> -->
            </select>
          </div>
        </div>
        <button
          class="bg-primary border-0 w-100 py-2 mulish fw-700 f-18 text-white mt-4"
        >
          Invest Now
        </button>
      </div>
    </div>
  </div>
  <div class="row mt-4 mb-5 pb-5">
    <div class="d-flex align-items-center justify-content-between p-4 block">
      <h1 class="gilroy-600 f-22 primary mb-3">Recent Transactions</h1>
      <div class="d-flex align-items-center mb-3">
        <select class="border rounded py-1 px-2 gilroy-500 f-12 primary">
          <option selected>All Investments</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        <a routerLink="" class="receive">View All</a>
      </div>
    </div>
    <app-table></app-table>
  </div>
</div>
