.onboarding_bg {
  background: url("../../../assets/img/onboarding_img.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.onboarding_svg {
  background: url("../../../assets/img/onboarding_svg.svg");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
}

.content {
  height: calc(100vh - 120px);
}

.mobile {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
